@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");

@import url("https://fonts.googleapis.com/css?family=Karla:400");

@import url("https://fonts.googleapis.com/css?family=Ovo:400");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.input {
  padding: 0 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.input.err {
  border: 1px solid red;
  border-radius: 5px;
}

textarea.input {
  padding: 10px;
  resize: none;
}

input[type="checkbox"]:checked + span:after {
  opacity: 1;
}

.header {
  position: relative;
  background-color: #3a3a3a;
}

.header__container {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 1130px;
  margin: 0px auto;
  padding: 20px 20px 50px 20px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  z-index: 6;
}

.header__order {
  width: 224px;
  font-size: 18px;
  color: #ffffff;
  line-height: 43px;
  display: inline-block;
  background-color: #da6f5b;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header__order:hover {
  background-color: #ca5c48;
}

.header__title {
  font-family: Playfair Display;
  font-size: calc(36px + 36 * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  max-width: 740px;
  margin: 90px auto 20px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  max-width: 500px;
  margin: 0px auto;
}

.header__arrow {
  margin: 20px 0px;
  -webkit-animation: arrow 2.5s infinite ease;
  animation: arrow 2.5s infinite ease;
  position: relative;
  display: inline-block;
  width: 50px;
}

.header__form {
  max-width: 1130px;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  padding: 35px 40px 40px 40px;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes arrow {
  0% {
    top: -7px;
  }

  50% {
    top: 7px;
  }

  100% {
    top: -7px;
  }
}

@keyframes arrow {
  0% {
    top: -7px;
  }

  50% {
    top: 7px;
  }

  100% {
    top: -7px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-size: 18px;
  color: #fff;
  margin: 0px 20px;
  padding: 5px 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.menu__link span {
  position: relative;
  z-index: 1;
}

.menu__link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #2d2d35;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu__link:hover:after {
  height: 100%;
}

.menu__link.active:after {
  height: 100%;
}

.form__title {
  font-family: Playfair Display;
  font-size: calc(16px + 8 * ((100vw - 320px) / (1920 - 320)));
  line-height: 30px;
  color: #fff;
  margin: 0px 0px 15px 0px;
}

.form__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px -20px 25px;
}

.form__line {
  color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  line-height: 57px;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 25px;
  letter-spacing: 0.5px;
  position: relative;
}

.form__line span {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__line a {
  font-size: 18px;
  color: #fff;
}

.form__line:hover .form__list {
  opacity: 1;
  visibility: visible;
}

.form__line:hover span {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.form__line:not(:first-child) {
  cursor: pointer;
}

.form__line:first-child {
  padding: 0;
}

.form__line:first-child input {
  background: transparent;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 0px 25px;
  height: 57px;
  font-family: MyriadPro;
}

.form__list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.form__list li {
  line-height: 38px;
}

.form__list li a {
  margin: 7px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  line-height: 38px;
  display: inline-block;
  width: 100%;
  color: #2d2d35;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__list li a:hover {
  background-color: white;
}

.form__button {
  display: inline-block;
  background-color: #da6f5b;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.form__button:hover {
  background-color: #ca5c48;
}

.form__btn {
  width: 224px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
  line-height: 43px;
}

body {
  font-family: "Karla";
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.testimonials {
  padding: 80px 0px;
}

.testimonials__title {
  font-family: Playfair Display;
  font-size: calc(36px + 12 * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.2;
  color: #2d2d35;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.testimonials__slider {
  position: relative;
}

.testimonials__slider .slick-list {
  overflow: hidden;
  padding: 0 !important;
}

.testimonials__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px 0px 0px;
}

.testimonials__slider .slick-arrow {
  font-size: 0;
  width: 24px;
  height: 16px;
  position: absolute;
  top: 40%;
  z-index: 1001;
}

.testimonials__slider .slick-arrow.slick-prev {
  background: url("../img/icons/arrow_l.png") 0 0 no-repeat;
  left: 33%;
}

.testimonials__slider .slick-arrow.slick-next {
  background: url("../img/icons/arrow_r.png") 0 0 no-repeat;
  right: 33%;
}

.testimonials__slider .slick-slide.slick-current .slider__description {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.testimonials__slider .slick-slide > div {
  height: 100%;
}

.slider__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slider__body {
  padding: 40px 70px;
  -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.08);
  margin: 0px 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 18px;
}

.slider__body p:first-child {
  line-height: 26px;
  font-style: italic;
  color: #5b5e6b;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.slider__body p:last-child {
  font-family: Ovo;
  line-height: 30px;
  font-weight: 400;
  color: #2d2d35;
}

.slider__description {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 30px;
  margin: 40px 0px 0px 0px;
}

.slider__page {
  font-family: Ovo;
  font-size: 24px;
  color: #2d2d35;
}

.slider__btn {
  font-family: MyriadPro;
  font-size: 18px;
  line-height: 1.2;
  color: #da6f5b;
  line-height: 43px;
  border: 1px solid #da6f5b;
  border-radius: 5px;
  padding: 0px 50px;
  position: relative;
}

.slider__btn span {
  position: relative;
  z-index: 1;
}

.slider__btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(218, 110, 91, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider__btn:hover:after {
  height: 100%;
}

@media (max-width: 1300px) {
  .testimonials__slider .slick-arrow.slick-prev {
    left: 32.5%;
  }

  .testimonials__slider .slick-arrow.slick-next {
    right: 32.5%;
  }

  .slider__body {
    padding: 20px 40px;
    margin: 0px 20px;
  }
}

@media (max-width: 1100px) {
  .testimonials {
    padding: 50px 0px;
  }

  .slider__btn {
    padding: 0px 25px;
  }
}

@media (max-width: 1000px) {
  .slider__body {
    padding: 15px 25px;
  }
}

@media (max-width: 900px) {
  .form__order {
    margin: 0px -33px 25px;
  }

  .form__line {
    margin: 0px 7px;
  }

  .testimonials {
    padding: 40px 0px;
  }

  .testimonials__slider .slick-arrow.slick-prev {
    left: 10px;
  }

  .testimonials__slider .slick-arrow.slick-next {
    right: 10px;
  }

  .testimonials__slider .slick-slide.slick-current .slider__description {
    -webkit-transition-delay: none;
    -o-transition-delay: none;
    transition-delay: none;
  }

  .slider__body {
    padding: 20px 40px;
    margin: 0px 30px;
  }

  .slider__description {
    opacity: 1;
    visibility: visible;
    margin: 30px 0px 0px 0px;
  }

  .slider__btn {
    padding: 0px 50px;
  }
}

@media (max-width: 880px) {
  .header__title {
    margin: 60px auto 10px;
  }
}

@media (max-width: 800px) {
  .header__order {
    width: 180px;
  }

  .menu__link {
    margin: 0px 10px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding: 15px 15px 40px 15px;
  }

  .header__logo {
    margin: 5px;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .header__form {
    padding: 20px 30px 30px 30px;
  }

  .form__title {
    margin: 0px 0px 8px 0px;
  }

  .form__order {
    display: block;
    width: 224px;
    margin: 0px auto;
  }

  .form__line {
    margin: 0px 0px 15px 0px;
    line-height: 43px;
  }

  .form__line:first-child input {
    height: 43px;
  }
}

@media (max-width: 670px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 32px;
    right: 30px;
    width: 30px;
    height: 18px;
    z-index: 1005;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s 0s;
    -o-transition: all 0.3s 0s;
    transition: all 0.3s 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .header__order {
    margin: 110px 0px 0px 0px;
  }

  .menu__body {
    background-color: #2d2d35;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
  }

  .menu__body.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .menu__list {
    display: block;
    margin: 50px 0px 0px 0px;
  }

  .menu__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 500px) {
  .header__arrow {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    margin: 10px 0px;
  }

  .form__order {
    width: 100%;
  }

  .form__button {
    width: 100%;
  }

  .form__btn {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__title {
    margin: 30px auto 5px;
  }

  .header__form {
    padding: 15px 20px 20px 20px;
  }

  .form__line a {
    font-size: 16px;
  }

  .form__line:first-child input {
    font-size: 16px;
  }

  .slider__body {
    font-size: 16px;
    padding: 15px 25px;
  }

  .slider__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0px 0px 0px;
  }

  .slider__page {
    margin: 0px 0px 20px 0px;
  }

  .slider__btn {
    font-size: 16px;
  }
}
@supports (-webkit-appearance:none){
.testimonials__slider .slick-arrow.slick-prev{background:url("../img/icons/arrow_l.webp") 0 0 no-repeat}
.testimonials__slider .slick-arrow.slick-next{background:url("../img/icons/arrow_r.webp") 0 0 no-repeat}
}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 880px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 670px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}
